ALLOW_HTTP="true"
MDL_METADATA_BUCKET="mdl-metadata-dta"  # IMPORTANT for testing, otherwise defaults to PRD bucket
COPERNICUSMARINE_USERNAME="your-username"
COPERNICUSMARINE_PASSWORD="your-password"
OPDV_S3_ENDPOINT="https://s3.lcj1-1.cloudferro.com"

