ALLOW_HTTP="true"
MDL_METADATA_BUCKET="mdl-metadata-dta"  # IMPORTANT for testing, otherwise defaults to PRD bucket
OPDV_ACCESS_KEY_ID="ingestion-buckets-access-key-id"
OPDV_SECRET_ACCESS_KEY="ingestion-buckets-secret-access-key"
OPDV_S3_ENDPOINT="https://s3.lcj1-1.cloudferro.com"
